*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{background-image: url('images/AdobeStock_632445493_Preview.jpeg');
    background-repeat: no-repeat;
    background-size:cover ;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly ;
    align-items: center;
    max-width: 60%;
    height: 500px;
    margin-left: 20%;
    background-color: rgba(255, 255, 255,0.5);
    /* opacity: 0.2; */
    backdrop-filter: blur(8px);
    border-radius: 25px;
    margin-top: 10%;
    
  

}
.label{
    height: 100px;
    width: 40%;
    display: flex;
    justify-content: space-between;
}
.labels,.inputs{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.label input{
    border: none;
    
    outline: none;
    height: 30px;
    background-color: rgba(255, 255, 255,0.5);
    
    
    
}
.label input:focus{
    border-bottom: 1px solid black;
}
button{
    height: 40px;
    width: 150px;
    background-color: #5F0C11;
    color: white;
    border-radius: 20px;
    font-size: large;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    border: none;

}
button:hover a{
        
        color: #5F0C11;
}
button:hover{
    background-color: white;
}
a{
    text-decoration: none;
    color: white;
}
